footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 15px;
    text-align: center;
    color: #DBE0DF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.75);

    .powered-by {
        span {
            font-size: 11px;
            display: block;
            position: relative;
            top: 5px;
        }

        a {
            color: #fff;
            display: inline-block;
            width: 130px;

            svg path.st0 {
                fill: #fff;
            }
        }
    }
}