.MuiBox-root {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .img-box {
        flex-basis: calc(33.33% - 25px);
        height: 300px;
        margin-bottom: 25px;
        overflow: hidden;
        transition: all 0.2s;
        position: relative;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);

        .zoom-in {
            cursor: zoom-in;
            display: block;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);

            div {
                position: relative;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.3s;
                width: 100%;
                height: 100%;

                &::after {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: rgba(0, 0, 0, 0);
                    -moz-transition: all .3s;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }
            }
        }

        .download {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -50px;
            margin: auto;
            width: 120px;
            transition: all .2s;
        }

        .resolution {
            position: absolute;
            left: 0;
            right: 0;
            top: -50px;
            display: block;
            font-size: 24px;
            text-align: center;
            transition: all .2s;
            color: white;
            text-shadow: 2px 2px 4px #000000;
            margin: auto;
            max-width: 150px;
        }

        &.hovered {
            .resolution {
                top: 15px;
            }

            .download {
                bottom: 15px;
            }

            .zoom-in div {
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);

                &::after {
                    background: rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}